body {
    background-color: #cccccc;
    padding: 20px;
}

button {
    background-color: #cccccc;

    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}


#dspWin {
    display: inline-block;
    padding: 5px;
    border-style: solid;
    background-color: #000000;
    color: #ffffff;
    width: 158px;
    height: 20px;
    font-size: 16px;
    text-align: right;
}
