<h2>{{ calculatorController.title }}</h2>



<div id="dspWin"> {{ calculatorController.displayWindow }}
</div>
<div>
    <button ng-click="calculatorController.selectNum(1)">1</button>
    <button ng-click="calculatorController.selectNum(2)">2</button>
    <button ng-click="calculatorController.selectNum(3)">3</button>
    <button ng-click="calculatorController.selectNum(0)">0</button>
</div>
<div>
    <button ng-click="calculatorController.selectNum(4)">4</button>
    <button ng-click="calculatorController.selectNum(5)">5</button>
    <button ng-click="calculatorController.selectNum(6)">6</button>
    <button ng-click="calculatorController.clearDisplay()">cl</button>
</div>
<div>
    <button ng-click="calculatorController.selectNum(7)">7</button>
    <button ng-click="calculatorController.selectNum(8)">8</button>
    <button ng-click="calculatorController.selectNum(9)">9</button>
    <button class="operator" ng-click="calculatorController.solveEquation()">=</button>
</div>
<div>
    <button class="operator" ng-click="calculatorController.operator(0)">+</button>
    <button class="operator" ng-click="calculatorController.operator(1)">-</button>
    <button class="operator" ng-click="calculatorController.operator(2)">&#215</button>
    <button class="operator" ng-click="calculatorController.operator(3)">&#247</button>
</div>

<!-- Bind the scope's "title" variable as the
data model of this input tag. -->
